.DS_Store
node_modules
/venv/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Generated data
/public/data/streets/

# Build files
/dist/

# Database
/db.sqlite3
/.env
