{% extends 'streetsignup/subpage.html' %}

{% block titletag %}About{% endblock %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <section class="page-section" id="team">
        <div class="container">
            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        The Abbotsford Neighborhood Prayer Walk was birthed as an idea in an early morning prayer
                        meeting last Spring. Subsequently, it was presented to the ACLN (Abbotsford Christian Leaders
                        Network) with the hope that this could be a city wide initiative for all the Christian churches
                        in Abbotsford to pray in a unified way. The ACLN presented it in a city wide Zoom call to
                        pastors in Abbotsford. It was met with such a positive response that we proceeded to put it
                        into motion.
                    </p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        We are trusting that God will lead each one of us in how to pray as we call out to Him for
                        our neighborhoods and city. As a unifying theme we are focusing on asking God to
                        BLESS and BREAKTHROUGH in people’s lives.
                    </p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="text-muted">
                        <b>Here are some primers for prayer:</b>
                    </p>
                    <p class="text-muted">
                        <b>Short:</b><br>
                        Father, would you BLESS and BREAKTHROUGH in this neighborhood. Cause your name to be hallowed,
                        Your kingdom to come and your will to be done on this street as it is in heaven.
                    </p>
                    <p class="text-muted">
                        <b>Extended:</b><br>
                        Father, we pray that you would BLESS the homes and places (eg. Businesses, parks, schools etc.)
                        of this street today. BLESS them with the revelation of You that turns us away from sin to a
                        reconciled relationship with you. BLESS each home with relationships of peace. BLESS in health
                        and strength. BLESS with provision and safety. BLESS with protection from all evil and harm.
                    </p>
                    <p class="text-muted">
                        God, we ask that You would BREAKTHROUGH in this neighborhood. We pray that You would deliver
                        each one from any and every barrier or stronghold that hinders them from knowing You and
                        experiencing Your love. In place of walls of pride and hardness of hearts, we pray Your humility
                        and tenderness. In place of broken family units, we pray for Your restoration. In place of
                        addiction may people experience Your deliverance and freedom. In all places of hurt and
                        injustice BREAKTHROUGH God so that they may know Your healing and transformation.
                    </p>
                    <p class="text-muted">
                        May Your name be lifted high, Your kingdom come and Your will be done here, on this street as
                        it is in heaven, for Your honour and glory, forever and ever amen!
                    </p>
                </div>
            </div>

            <div class="text-center">
                <h2 class="section-heading text-uppercase">FAQ's</h2>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="min-height: 250px">
                    <p class="text-muted">
                        We’ve tried to anticipate some of your questions, even the obvious ones to make
                        things as clear as possible.
                    </p>

                    <h6 class="text-muted">
                        Do I have to wait till September 27th to pray for my street?
                    </h6>
                    <p class="text-muted">
                        Yes … God is only open to hear your prayers at that time slot. (Kidding of course, but we
                        thought we’d get the most obvious one out of the way 😊). By all means pray now, but let’s be
                        sure to pray each day during the week of focused prayer September 27 to October 3.
                    </p>

                    <h6 class="text-muted">
                        Are others praying for the same street?
                    </h6>
                    <p class="text-muted">
                        Potentially, yes. What a great way for the body of Christ to come together in unity. However, we
                        have limited signups to 3 entries per street until all the streets of Abbotsford have been
                        committed to be covered in prayer.
                    </p>

                    <h6 class="text-muted">
                        How many streets are there in Abbotsford?
                    </h6>
                    <p class="text-muted">
                        Approximately 1280
                    </p>

                    <h6 class="text-muted">
                        Do I have to walk my street?
                    </h6>
                    <p class="text-muted">
                        It’s amazing what you see as you walk through a neighborhood. AS you walk, you may also “bump”
                        into people opening up an opportunity to pray for them. However, God’s response to prayer is not
                        limited to us walking. If you need to pray from home or want to drive your street because it’s a
                        long one feel free to do so. The most important thing is that we saturate our city in prayer.
                    </p>

                    <h6 class="text-muted">
                        Is there some kind of grand finale on the last day?
                    </h6>
                    <p class="text-muted">
                        It would be so good if we could all come together physically as the one church in Abbotsford.
                        However, given the current environment with Covid-19 restrictions, we are planning a livestream
                        event that we can all connect with at 7pm., Saturday Oct 3rd.
                    </p>

                    <p class="text-muted" style="padding-top: 20px">
                        Further questions? Email us at info@prayforabbotsford.com
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
