{% extends 'streetsignup/subpage.html' %}

{% block title %}
    Stories
{% endblock %}

{% block content %}
    <section class="page-section" id="team">
        <div class="container">
<!--            <div class="text-center">-->
<!--                <h2 class="section-heading text-uppercase">About the Event</h2>-->
<!--            </div>-->
            <div class="row">
                <div class="col-lg-8 mx-auto text-center" style="min-height: 400px">
                    <p class="large text-muted">
                        Check this page out during the week of prayer, Sept 27-Oct 3.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
