{% extends 'streetsignup/subpage.html' %}

{% block titletag %}Stories{% endblock %}

{% block title %}
    Stories
{% endblock %}

{% block content %}
    <section class="page-section" id="team">
        <div class="container">
<!--            <div class="text-center">-->
<!--                <h2 class="section-heading text-uppercase">About the Event</h2>-->
<!--            </div>-->
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">
                        We'd love to hear how you have seen God at work through walking and praying.
                        Message us at stories@prayforabbotsford.com
                    </p>
                </div>
            </div>

            <div class="row" style="padding-top: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="text-muted">
                        <b>Stories:</b>
                    </p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        "I have walked my neighbourhood hundreds of times and most often in an attitude of prayer. But
                        joining Pray Abbotsford and praying for my neighbourhood 3 streets I signed up for I ventured
                        out yesterday committed to be in an attitude of prayer the entire time for these dear
                        neighbours. I also asked the Lord if it be His will I could have meaningful conversations along
                        the way. I walked and prayed and really looked no different than any other time I walked my
                        little black dog. I passed a couple and then walked by them again on the next street. The woman
                        asked me, “Are you on a prayer walk with the Abbotsford prayer walk?” I said “yes!” “ I thought
                        you were“ she said. How she knew I have no idea! Was my halo a little brighter? Lol!! They were
                        believers and told me of a man who walked these streets in an attitude of prayer every day but
                        had recently moved away. They said they missed the deadline to sign up. But I said, “No! You
                        still can!” They were going home to sign up!
                    </p>
                    <p class="large text-muted">
                        Today, I got chatting with a couple who were painting their house. I told them what I was doing
                        and asked if there was anything broad or specific I could bring to God on my walk. “Yes they
                        said, we have a family member in ICU for now 3 weeks who is so ill and the doctors have no idea
                        what is wrong.“. I told them I would lift that loved one to God and ask for healing. I have
                        written my prayer out and will place it on their doorstep later today.
                        Anyways...I am encouraged and excited to see what God does in my neighbourhood and our city.
                        Yes, praying for blessing and breakthrough! God is at work...all we need to do is partner with
                        Him in prayer, working hand in hand to build His Kingdom here on earth! Such a privilege! Can’t
                        wait for tomorrow ‘s prayer walk!!
                    </p>
                    <p class="large text-muted">
                        JB
                    </p>
                </div>
            </div>

            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        Yes! I am sooo happy to be praying for my neighbours!!! Draws me closer to God too.
                    </p>
                </div>
            </div>

            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        Thank you so much to the organizers for this awesome event! My husband and I have taken two
                        streets, our own and my mother’s street. It is a privilege to freely walk down the street
                        praying
                        aloud for each house and the people we spot milling around. We found it interesting how many
                        people were out and about in the evening, as it got dark; and ended up talking for a while with
                        one neighbour we seldom see. It brought the nieghbourhood more alive to us and made us feel
                        more aware of how many people need the Lord right around us. It also gave a feeling of
                        connectedness and compassion, and our prayer to invite the Holy Spirit to move through the
                        neighbourhood gives a sense of God’s presence and care for all.
                    </p>
                    <p class="large text-muted">
                        D&amp;K L
                    </p>
                </div>
            </div>

            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        Yes, this is amazing and wonderful! I have been asking God to raise up more prayer warriors in
                        Abbotsford for several years now. We need to start up a 24/7 prayer house to pray for
                        Abbotsford continually. Of course, we would start with less hours, perhaps from 6 am to 10 pm
                        every day until those time slots were filled up. Churches or a group of churches could take
                        turns
                        being responsible for a certain day. Since 1/4 of Abbotsford&#39;s population is Indo-Canadian,
                        we
                        should have 15 minutes of every hour dedicated to praying for the Sikh communities.
                    </p>
                    <p class="large text-muted">
                        WI
                    </p>
                </div>
            </div>

            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        I was at the end of my prayer walk and I noticed an older lady ahead of me walking in
                        my direction. When she saw me she stopped in her tracks, put a mask on and stepped
                        off the sidewalk onto the road allowing for much clearance between us!. I greeted her,
                        commented on the beautiful sunny day and continued on. In my heart, I prayed for an
                        opportunity to talk with her. Chatting with my neighbour at the end of my lane I noticed
                        this particular lady had turned around and was walking in my direction again. I moved
                        onto my neighbour’s lawn to give her safe access around me and began a conversation.
                        I told her I had signed up for Abbotsford Prayer Walk and am walking and praying for
                        families that live on this street. I asked if there was anything I could pray for her for.
                        There was a long silence and her lip quivered and quietly she responded.  “I thought I
                        was doing ok, but clearly I am not. My husband died two months ago and I am having a
                        hard time with it.” I then had the opportunity to share with her verses of comfort and
                        peace from the Word of God. In this very dark place God is very present, has not
                        abandoned her and is her refuge and her strength for each day. I pray our paths will
                        cross again. For a long time now I have prayed for God to give me boldness to talk
                        about my faith and the hope I have in Christ with those I meet. Through Abbotsford
                        Prayer Walk God has placed a deep rooted love in my heart for my neighbourhood and
                        now a boldness to approach those on my street by asking...”how can I pray for you
                        today?” God is at work! He is in our midst and is doing great things.
                    </p>
                    <p class="large text-muted">JB</p>
                </div>
            </div>

            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        First of all, thank you so much for your efforts in organizing this event. It truly is
                        encouraging and important.Thank you!
                    </p>
                    <p class="large text-muted">
                        Secondly, I am in a Bible study with a woman who doesn&#39;t have online access, but I
                        learned today that she has been praying for everyone on Switzer Ave for years ... and it
                        continues.
                    </p>
                    <p class="large text-muted">
                        So, please be encouraged that even though some streets don&#39;t show as &quot;yellow&quot; ...
                        some really are being covered in prayer! :)
                    </p>
                    <p class="large text-muted">Blessings, L</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
