{% extends 'streetsignup/subpage.html' %}

{% block titletag %}Stories{% endblock %}

{% block title %}
    Stories
{% endblock %}

{% block content %}
    <section class="page-section" id="team">
        <div class="container">
<!--            <div class="text-center">-->
<!--                <h2 class="section-heading text-uppercase">About the Event</h2>-->
<!--            </div>-->
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">
                        We'd love to hear how you have seen God at work through walking and praying.
                        Message us at stories@prayforabbotsford.com
                    </p>
                </div>
            </div>

            <div class="row" style="padding-top: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="text-muted">
                        <b>Our first story:</b>
                    </p>
                </div>
            </div>
            <div class="row" style="padding-bottom: 30px">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted">
                        "I have walked my neighbourhood hundreds of times and most often in an attitude of prayer. But
                        joining Pray Abbotsford and praying for my neighbourhood 3 streets I signed up for I ventured
                        out yesterday committed to be in an attitude of prayer the entire time for these dear
                        neighbours. I also asked the Lord if it be His will I could have meaningful conversations along
                        the way. I walked and prayed and really looked no different than any other time I walked my
                        little black dog. I passed a couple and then walked by them again on the next street. The woman
                        asked me, “Are you on a prayer walk with the Abbotsford prayer walk?” I said “yes!” “ I thought
                        you were“ she said. How she knew I have no idea! Was my halo a little brighter? Lol!! They were
                        believers and told me of a man who walked these streets in an attitude of prayer every day but
                        had recently moved away. They said they missed the deadline to sign up. But I said, “No! You
                        still can!” They were going home to sign up!
                    </p>
                    <p class="large text-muted">
                        Today, I got chatting with a couple who were painting their house. I told them what I was doing
                        and asked if there was anything broad or specific I could bring to God on my walk. “Yes they
                        said, we have a family member in ICU for now 3 weeks who is so ill and the doctors have no idea
                        what is wrong.“. I told them I would lift that loved one to God and ask for healing. I have
                        written my prayer out and will place it on their doorstep later today.
                        Anyways...I am encouraged and excited to see what God does in my neighbourhood and our city.
                        Yes, praying for blessing and breakthrough! God is at work...all we need to do is partner with
                        Him in prayer, working hand in hand to build His Kingdom here on earth! Such a privilege! Can’t
                        wait for tomorrow ‘s prayer walk!!
                    </p>
                    <p class="large text-muted">
                        JB
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
