{% extends 'pages/sub_page.html' %}

{% block titletag %}
    {% if page.seo_title %}
        {{ page.seo_title }}
    {% else %}
        Coverage Map
    {% endif %}
{% endblock %}

{% block subtitle %}
    Map with streets covered in prayer
{% endblock %}

{% block content %}
    <iframe
        src="{% url 'mapapp' %}{% if site_root.latitude %}?lat={{ site_root.latitude }}&long={{ site_root.longitude }}{% endif %}"
        width="100%"
        height="600px"
        frameBorder="0" scrolling="no"
    ></iframe>
    <style>
        .copyright { margin-top: -6px; }
    </style>
{% endblock %}
